.asset_hash
.vscode/
/Assets/
IsaacLab/
config.yaml
typings/
venv_isaac/

# Ignore Python bytecode and cache directories
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.cpython-*.pyc
source/strafer_lab/test/integration/depth_noise/debug_output/
